@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    background: linear-gradient(to right, #1abc9c, #323946);
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #0ef;
    font-size: 1.8rem;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2ecc71;
}

.details {
    margin-top: 20px;
}

.vehicles, .family {
    margin-top: 10px;
}

hr {
    border: 1px solid #2ecc71;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #000210;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f70000;
}
